<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=demo.tac.local_core;Integrated Security=False;User ID=sa;Password=123456" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=demo.tac.local_master;Integrated Security=False;User ID=sa;Password=123456" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=demo.tac.local_web;Integrated Security=False;User ID=sa;Password=123456" />
  <add name="analytics" connectionString="mongodb://localhost:27017/demo_tac_local_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/demo_tac_local_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/demo_tac_local_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/demo_tac_local_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.;Initial Catalog=demo.tac.local_reporting;Integrated Security=False;User ID=sa;Password=123456" />
</connectionStrings>